.canvas_layer_header_app {
  position: absolute;
  top: -130px;
  left: 0px; 
  right: 0px;
  margin-left: auto; 
  margin-right: auto;
}

@media (max-width: 799px) {
  .canvas_layer_header_app {
    width: 100%;
  }
}
@media (min-width: 800px) {
  .canvas_layer_header_app {
    width: 800px;
    height: 300px;
  }
}
